#logo #eye-bot{
  transform-origin: top;
  transform-box: fill-box;
  animation: 8s bottom_eye linear infinite ;
}

#logo #eye-top{
  transform-origin: bottom;
  transform-box: fill-box;
  animation: 8s top_eye linear infinite;
}

#logo #eyeball{
  transform-origin: center;
  transform-box: fill-box;
  animation: 8s eyeball linear infinite;
}

@keyframes eyeball {
  0%,20%,100%{
    transform: rotateX(0deg);
  }
  9%,10%{
    transform: rotateX(85deg);;
  }
}


@keyframes bottom_eye {
  0%,20%,100%{
    transform: rotateX(0deg);
  }
    9%,10%{
    transform: rotateX(70deg);
  }
}


@keyframes top_eye {
  0%,20%,100%{
    transform: rotateX(0deg);
  }
    9%,10%{
    transform: rotateX(-70deg);
  }
}